<style>
        table.adminUrgent {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table.adminUrgent th, table.adminUrgent td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        table.adminUrgent th {
            background-color: #f2f2f2;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        table.adminUrgent td {
            background-color: #fff;
            color: #555;
        }

        
        .red {
            color:black;
            }
        
        .status{
            color: green;
        }
        .urgent{
            color: red;
            font-weight: bold;
        }
        .issues{
            color: black;
        }
        .add{
            background-color: rgb(50, 31, 219);
            color: white;
        }
        h1{
            font-weight: bold;
            font-style: italic;
        }
    </style>
  

                <table class="adminUrgent">
                    <thead>
                        <tr>
                            <th>Feeding Station Number</th>
                            <th>Feeding Station</th>
                            <th>Location</th>
                            <th>Food Level</th>
                            <th>Water Level</th>
                            <th>Urgent Items</th>
                            <th>Num of Cats</th>
                            <th>Health Issues</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each locations}}
                        <tr>
                            <td name="siteNum">{{this.number}}</td>
                            <td>{{this.name}}</td>
                            <td><a href="{{this.location}}">{{this.location}}</a></td>
                            <td class="red" >{{this.food_level}}%</td>
                            <td class="red" >{{this.water_level}}%</td>
                            <td class="urgent" >{{this.urgent_items}}</td>
                            <td>{{this.cat_number}}</td>
                            <td class="issues">{{this.health_issues}}</td>
                            <td class="status">{{this.status}}</td>
                            <td><form action="/delete_feeding_location" method="POST">
                                <input type="hidden" name="siteNum" value="{{this.number}}">
                                <button type="submit">Delete</button>
                            </form></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                
<script>
    const statusElements = document.querySelectorAll('.status');
    const statusElements1 = document.querySelectorAll('.red');
    const statusElements2 = document.querySelectorAll('.issues');
    statusElements.forEach(function(element) {
        if (element.textContent.toLocaleLowerCase() === 'inactive'.toLowerCase()) {
            element.style.color = 'red';
            }
            });
    statusElements1.forEach(function(element) {
        const textContent = element.textContent.trim();
        console.log(`Text content: ${textContent}`);
        const number = parseFloat(textContent);
        if (!isNaN(number) && number < 50) {
            element.style.color = 'red';
        }
    });
    statusElements2.forEach(function(element) {
        if (element.textContent.toLocaleLowerCase() !== 'none'.toLowerCase()) {
            element.style.color = 'red';
            }
            });
</script>

