<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <style>
        .container-fluid {
            max-width: 1200px;
            margin: auto;
            padding: 2rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        td {
            background-color: #fff;
            color: #555;
        }

        nav {
            background-color: #3c40ff;
            overflow: hidden;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav li {
            float: left;
        }

        nav a {
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        nav a:hover {
            background-color: #ddd;
            color: blue;
        }
    </style>
</head>
<body class="c-app">
    <header class="c-header c-header-light c-header-fixed">
        <div class="welcome-section">
            <h3>This is the Admin page</h3>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <table>
                    <thead>
                        <tr>
                            <th>Feeding Station Number</th>
                            <th>Feeding Station</th>
                            <th>Location</th>
                            <th>Food Level</th>
                            <th>Water Level</th>
                            <th>Urgent Items</th>
                            <th>Num of Cats</th>
                            <th>Health Issues</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each locations}}
                        <tr>
                            <td>{{this.number}}</td>
                            <td>{{this.name}}</td>
                            <td><a href="{{this.location}}">{{this.location}}</a></td>
                            <td>{{this.food_level}}</td>
                            <td>{{this.water_level}}</td>
                            <td>{{this.urgent_items}}</td>
                            <td>{{this.cat_number}}</td>
                            <td>{{this.health_issues}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>